/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff; /* fondo claro */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Caja principal */
.login-box {
  background-color: #0f4a85; /* azul oscuro */
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  color: whitesmoke;
  text-align: center;
}

/* Logo */
.logo-container img {
  background-color: white;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  min-width: 120px;
  height: auto;
  margin-bottom: 25px;
}

/* Título */
.login-box h2 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.login-form label {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.login-form input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
}

.login-form input:focus {
  outline: 2px solid #ffffff;
}

/* Botón */
.login-form button {
  margin-top: 10px;
  padding: 12px;
  background-color: #ffffff;
  color: #285d93;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #e6e6e6;
}

/* Responsive */
@media (max-width: 420px) {
  .login-box {
    padding: 30px 20px;
  }

  .logo-container img {
    max-width: 150px;
  }
}
